*{margin: 0; padding: 0;}

.xuong:hover {bottom: 1%;transition: 0.4s;}

.xuong :hover {
    transition: auto;
}

.xuong {
    width: 37px;
    height: 57px;
    /* background: white; */
    z-index: 3;
    position: absolute;
    /* color: white; */
    border: white solid 1px;
    display: block;
    margin-left: -18px;
    left: 50%;
    margin-top: 29px;
    border-radius: 27px;
    transition: 0.4s;
    cursor: pointer;
}

.xuong:after {content: "";position: absolute;width: 2px;height: 9px;background: white;left: 50%;margin-left: -1px;margin-top: 10px;}

img.img-fliud {
    width: 256%;
    height: 84%;
    margin: auto;
    margin-left: -76%;
    margin-top: -19%;
}

.khoittnho p {
    font-size: 14px;
    color: #7f6666;
    margin-bottom: 55px;
}

.motaqt p {
    font-size: 14px;
}

span.motaqt {
    font-size: 13px;
    margin-bottom: 26px;
    display: block;
}

h3.tieudecap3 {
    margin-bottom: 20px;
    font-size: 16px;
    color: #e35855;
}

h3.tieudecap2 {
    font-family: segoe ui light;
    /* font-weight: normal; */
    text-transform: uppercase;
    font-size: 18px;
    margin-bottom: 40px;
}

span.dam {
    font-weight: bold;
    font-family: segoe ui;
}

.tieudeto h1 {
    text-transform: uppercase;
    font-size: 30px;
}

.col-sm-12.tieudeto.text-xs-center {
    margin-top: 120px;
    margin-bottom: 40px;
}

a.nuthire.btn.btn-primary {
    width: 180px;
    border-radius: 0px;
    background: black;
    border-color: black;
}

.tt p {
    font-size: 17px;
    line-height: 26px;
    margin: auto;
    margin-bottom: 25px;
}

h2 {
    color: white;
    font-size: 58px;
    font-family: segoe ui light;
    text-transform: uppercase;
    margin-bottom: 22px;
}

img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-top: 21%;
    margin-bottom: 58px;
}

.tt {position: relative;z-index: 2;}

.khoitt1:before {content: "";position: absolute;left: 0px;top: 0px;width: 50%;height: 100%;background: #e4555b;z-index: 1;}

body ,html {
    width: 100%;
    height: 100%;
}

.khoitt1 {
    width: 100%;
    height: 100%;
    background: #e9585f;
}

a.navbar-brand {}

a.nav-link {
    font-size: 20px;
}

ul.nav.navbar-nav.float-xs-right {
    padding-top: 19px;
    font-family: segoe ui light;
}

nav.navbar.navbar-light.bg-faded {
    background: white;
}

a.navbar-brand {
    font-family: segoe ui light;
    padding-top: 27px;
}

nav.navbar.navbar-light.bg-faded {
    height: 100px;
} 

@media (max-width:576px){
    * {}

img.img-fliud {
    height: 112%;
    /* width: 654px; */
    padding-left: 566px;
    margin-left: -549px;
    display: inline-block;
    /* text-align: center; */
    padding-top: 26px;
}

.tt h2 {
    font-size: 33px;
    margin-top: -31px;
}

.tt img {
    margin-top: 204px;
}

a.nav-link {
    display: inline !important;
}

li.nav-item {
    display: inline !important;
    float: none !important;
}

ul.nav.navbar-nav.float-xs-right {
    /* float: none !important; */
    text-align: center;
    background: white;
    width: 153%;
    margin: 0;
    /* padding: 0; */
    margin: 4px  -34px  6px 25px;
    padding: 13px 19px 13px 126px;
    border-top: solid 1px gray;
}

li.nav-item {
    float: none !important;
    margin: 0 0;
    padding: 0 0;
}

a.navbar-brand {
    display: block;
    text-align: center;
    width: 100%;
}
}.responsive {
    max-width: 100%;
    height: auto;
  }